@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff2") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff2") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff2") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 1440px) {
  .header {
    max-width: 1440px;
    padding-top: 70px;
    margin: 0 auto;
  }
}

.header__block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header__block {
    flex-direction: row;
    width: 100%;
  }
}

.header__body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  gap: 56px;
}
@media (min-width: 768px) {
  .header__body {
    gap: 13px;
  }
}

@media (min-width: 768px) {
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    z-index: 10;
  }
}

.header .header__burger {
  position: absolute;
  top: 24px;
  right: 20px;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 16px;
  display: block;
  background-color: #ffffff;
}
.header .header__burger::after, .header .header__burger::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  top: 0;
  right: 0;
}
.header .header__burger::after {
  top: 16px;
  box-shadow: 0 -8px 0 0 #000000;
}
@media (min-width: 768px) {
  .header .header__burger {
    display: none;
    position: relative;
  }
}

.header--nav-opened .header__burger::after {
  transform: rotate(-45deg);
  width: 29px;
  top: 8px;
  right: -3px;
  box-shadow: none;
}
.header--nav-opened .header__burger::before {
  transform: rotate(45deg);
  width: 29px;
  top: 8px;
  right: -3px;
}

.header__burger:hover:after,
.header__burger:hover::before {
  background-color: #68b738;
}

.header__burger:active::after,
.header__burger:active::before {
  background-color: rgba(104, 183, 56, 0.3);
  width: 28px;
}

.header .header__list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
  display: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .header .header__list {
    display: flex;
    gap: 33px;
  }
}

.header--nojs .header__burger {
  display: none;
}

.header--nojs .header__list {
  position: absolute;
  z-index: 100;
  display: block;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .header--nojs .header__list {
    position: static;
    display: flex;
    text-align: center;
  }
}

.header--nav-opened .header__list {
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  display: block;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
}

.header__list a {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .header__list a {
    border: none;
  }
}
@media (min-width: 1440px) {
  .header__list a {
    padding: 0;
  }
}

.header__item {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
}
.header__item::after {
  position: absolute;
  content: "";
  width: calc(100% + 20px);
  left: -20px;
  top: 0;
  background-color: #e6e6e6;
  height: 1px;
}
@media (min-width: 768px) {
  .header__item::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__item {
    font-size: 18px;
    line-height: 24px;
    display: block;
  }
}
@media (min-width: 1440px) {
  .header__item {
    font-size: 20px;
    line-height: 30px;
  }
}

.header__item--current a {
  position: relative;
}
@media (min-width: 768px) {
  .header__item--current a::after {
    position: absolute;
    content: "";
    width: 100%;
    background-color: #68b738;
    height: 2px;
    top: 34px;
    left: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .header__item--current a::after {
    top: 37px;
  }
}

@media (min-width: 1440px) {
  .header__item--index a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #ffffff;
    top: 37px;
  }
}

@media (min-width: 1440px) {
  .header__item--color a {
    color: #ffffff;
  }
}

.header__link:hover {
  opacity: 60%;
}
.header__link:hover:active {
  opacity: 30%;
}

.header__logo-text,
.header__logo {
  display: block;
  flex-shrink: 0;
  z-index: 3;
}

.header__logo-text {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (min-width: 1440px) {
  .header__logo-text {
    padding: 9px 0;
  }
}

.header__body:hover {
  opacity: 80%;
}
.header__body:hover:active {
  opacity: 60%;
}

.header__logo-text:focus-visible,
.header__logo:focus-visible,
.header__link:focus-visible,
.socials__link:focus-visible,
.button:focus-visible,
.variants-food__link:focus-visible,
.variants-food__link:focus-visible:after,
.logo-text:focus-visible,
.footer__copyright-link:focus-visible {
  border: none;
  outline: 2px solid orange;
  outline-offset: 7px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    padding: 0 110px;
  }
}

.variants-food__wrapper,
.example__wrapper,
.advantages__wrapper,
.footer__wrapper,
.hero__wrapper,
.promotion__wrapper,
.add-product__wrapper,
.catalog__wrapper,
.catalog__title,
.data__section {
  max-width: 1440px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1440px) {
  body {
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: #000000;
  padding: 0;
  margin: 0;
}

.hero {
  margin: 0 auto;
  color: #ffffff;
  position: relative;
  padding: 0;
}
@media (min-width: 1440px) {
  .hero {
    margin-top: 111px;
  }
}

.hero__header {
  width: 100%;
}
@media (min-width: 768px) {
  .hero__header {
    display: none;
  }
}

.hero__header--dw {
  display: none;
}
@media (min-width: 1440px) {
  .hero__header--dw {
    position: absolute;
    display: block;
    width: 720px;
    height: 694px;
    right: 0;
    top: -281px;
  }
}

.hero__main {
  top: 40px;
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .hero__main {
    margin-bottom: 40px;
    padding-top: 39px;
  }
}
@media (min-width: 1440px) {
  .hero__main {
    padding-left: 190px;
  }
}
.hero__main div {
  position: absolute;
  top: 27px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .hero__main div {
    position: static;
    display: block;
  }
}

@media (min-width: 1440px) {
  .hero__title-slogan {
    margin-right: 100px;
  }
}

.hero__title {
  display: flex;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    display: block;
    margin-left: 100px;
    margin-bottom: 41px;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    margin-left: 0;
    margin-top: -70px;
  }
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-left: 100px;
    display: inline-block;
  }
}
@media (min-width: 1440px) {
  .hero__slogan {
    margin-left: 0;
    margin-bottom: 52px;
  }
}

.hero__img {
  width: 100%;
  margin-top: -131px;
}
@media (min-width: 768px) {
  .hero__img {
    width: 709px;
    height: 609px;
    margin: 0;
    margin-left: 32px;
  }
}
@media (min-width: 1440px) {
  .hero__img {
    height: 499px;
    width: 552px;
    position: absolute;
    top: -119px;
    left: 529px;
    z-index: 2;
  }
}

.hero__button {
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-bottom: 11px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -96px;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .hero__button {
    position: absolute;
    top: 357px;
    left: 102px;
    width: 244px;
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: center;
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .hero__button {
    position: static;
    margin: 0;
    margin-bottom: 208px;
    margin-left: 190px;
  }
}

.hero__button:hover {
  background-color: #5eaa2f;
}
.hero__button:hover:active {
  color: rgba(255, 255, 255, 0.3);
}

.button {
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 20px;
  }
}

.button:hover {
  background-color: #5eaa2f;
}
.button:hover:active {
  color: rgba(255, 255, 255, 0.3);
}

.product__button-all:hover {
  background-color: #ebebeb;
}
.product__button-all:hover:active {
  opacity: 60%;
  color: #000;
}

.variants-food {
  display: flex;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .variants-food {
    margin-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .variants-food {
    margin-bottom: 71px;
  }
}

.variants-food__wrapper {
  display: block;
}
@media (min-width: 1440px) {
  .variants-food__wrapper {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.variants-food__item {
  background-color: #f2f2f2;
  row-gap: 20px;
  padding-left: 20px;
  padding-right: 33px;
  padding-bottom: 22px;
  position: relative;
}
.variants-food__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  left: 22px;
  top: 24px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .variants-food__item::before {
    left: 452px;
    top: 87px;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .variants-food__item::before {
    left: 52px;
    top: 47px;
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 768px) {
  .variants-food__item {
    padding-bottom: 57px;
    padding-left: 52px;
  }
}
@media (min-width: 1440px) {
  .variants-food__item {
    padding-right: 61px;
  }
}

.variants-food__link:active {
  opacity: 30%;
}

.variants-food__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .variants-food__item:not(:last-child) {
    margin: 0;
  }
}

.variants-food__title {
  position: relative;
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 72px;
  margin: 0;
  margin-bottom: 29px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .variants-food__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    padding-left: 0;
  }
}
@media (min-width: 1440px) {
  .variants-food__title {
    padding-top: 77px;
    padding-left: 164px;
    margin-bottom: 50px;
  }
}

.variants-food__img {
  position: absolute;
  top: 21px;
  left: 28px;
  z-index: 1;
}
@media (min-width: 768px) {
  .variants-food__img {
    left: 410px;
    top: 70px;
    width: 268px;
    height: 194px;
  }
}
@media (min-width: 1440px) {
  .variants-food__img {
    left: 68px;
    top: 43px;
    width: 70px;
    height: 97px;
  }
}

.variants-food__img--pro {
  top: 35px;
  left: 12px;
}
@media (min-width: 768px) {
  .variants-food__img--pro {
    left: 420px;
    top: 95px;
  }
}
@media (min-width: 1440px) {
  .variants-food__img--pro {
    left: 36px;
    top: 73px;
    width: 134px;
    height: 56px;
  }
}

.variants-food__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
}
@media (min-width: 768px) {
  .variants-food__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.variants-food__link::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 12px;
  background-image: url("../img/main/cat-arrow.svg");
  top: 5px;
  left: 100px;
}
@media (min-width: 768px) {
  .variants-food__link::after {
    top: 10px;
    left: 125px;
  }
}

.variants-food__link:hover::after {
  width: 32px;
  height: 12px;
  background-image: url("../img/main/cat-arrow-lg.svg");
  background-repeat: no-repeat;
  top: 5px;
  left: 100px;
}
@media (min-width: 768px) {
  .variants-food__link:hover::after {
    top: 10px;
    left: 125px;
  }
}

.variants-food__link:active::after {
  width: 32px;
  height: 12px;
  background-image: url("../img/main/cat-arrow-lg.svg");
  background-repeat: no-repeat;
  top: 5px;
  left: 100px;
  opacity: 30%;
}
@media (min-width: 768px) {
  .variants-food__link:active::after {
    top: 10px;
    left: 125px;
  }
}

.variants-food__text {
  position: relative;
  margin: 0;
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .variants-food__text {
    margin-bottom: 52px;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .variants-food__text {
    margin-top: 20px;
  }
}
.variants-food__text::after {
  position: absolute;
  content: "";
  width: 240px;
  background-color: #d9d9d9;
  height: 1px;
  bottom: -23px;
  left: 0;
}
@media (min-width: 768px) {
  .variants-food__text::after {
    display: none;
  }
}

.advantages {
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .advantages {
    padding-bottom: 30px;
  }
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 247px 250px;
    column-gap: 153px;
    row-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    grid-template-columns: 230px 246px 248px 250px;
    column-gap: 91px;
  }
}

.advantages__item {
  position: relative;
}
.advantages__item:not(:last-child) {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.advantages__item::before {
  position: absolute;
  content: "";
  background-color: #68b738;
  left: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 768px) {
  .advantages__item::before {
    width: 80px;
    height: 80px;
  }
}

.advantages__text {
  margin: 0;
  padding-left: 80px;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .advantages__text {
    padding: 0;
    padding-top: 115px;
    width: 245px;
    padding-bottom: 86px;
  }
}

.advantages__item--leaf::before {
  background-image: url("../img/main/leaf.svg");
}

.advantages__item--powder::before {
  background-image: url("../img/main/powder.svg");
}

.advantages__item--fork::before {
  background-image: url("../img/main/fork.svg");
}

.advantages__item--watch::before {
  background-image: url("../img/main/watch.svg");
}

.advantages__item::after {
  position: absolute;
  content: "";
  width: 112px;
  height: 280px;
  background-repeat: no-repeat;
  top: 0;
  left: 120px;
  z-index: -1;
}

.advantages__item--leaf::after {
  background-image: url("../img/main/advantafes-number-leaf.svg");
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--leaf::after {
    display: block;
  }
}

.advantages__item--powder::after {
  background-image: url("../img/main/advantafes-number-powder.svg");
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--powder::after {
    display: block;
  }
}

.advantages__item--fork::after {
  background-image: url("../img/main/advantafes-number-fork.svg");
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--fork::after {
    display: block;
  }
}

.advantages__item--watch::after {
  background-image: url("../img/main/advantafes-number-watch.svg");
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--watch::after {
    display: block;
  }
}

.example {
  position: relative;
  padding: 25px 0 40px;
  background-color: #eaeaea;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  z-index: -2;
}
.example::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #eaeaea;
  top: -15px;
  left: -30px;
  display: none;
}
@media (min-width: 768px) {
  .example::before {
    display: block;
  }
}
@media (min-width: 1440px) {
  .example::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .example {
    background-image: linear-gradient(to bottom, #ffffff 528px, #eaeaea 528px);
    z-index: -2;
    padding-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .example {
    background-image: linear-gradient(to bottom, #ffffff 150px, #eaeaea 150px);
  }
}

.example__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    width: 436px;
    margin-bottom: 84px;
  }
}

.example__button {
  position: absolute;
  border: none;
  top: 0;
  left: 122px;
  padding: 0;
  background-color: transparent;
}
.example__button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 256px;
  width: 4px;
  background-color: #666666;
  border-radius: 2px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .example__button::after {
    height: 512px;
  }
}
@media (min-width: 768px) {
  .example__button {
    left: 335px;
  }
}
@media (min-width: 1440px) {
  .example__button {
    left: 921px;
    top: -599px;
  }
}

.example__button:hover::after {
  background-color: #68b738;
}

.example__button:active::after {
  background-color: #5eaa2f;
}

.example__button:focus::after {
  background-color: #5eaa2f;
}

.example__button:focus {
  outline: none;
}

.example__button svg {
  height: 246px;
}
@media (min-width: 768px) {
  .example__button svg {
    width: 40px;
    height: 512px;
  }
}

.example__button:hover svg {
  color: #68b738;
  fill: #68b738;
}

.example__button:focus svg {
  color: #5eaa2f;
}

.example__img {
  background-color: #eaeaea;
  display: inline-block;
}
@media (min-width: 768px) {
  .example__img {
    height: 512px;
    width: 560px;
    background-image: linear-gradient(to bottom, #ffffff 150px, #eaeaea 150px);
    z-index: -2;
    margin-left: 74px;
  }
}
@media (min-width: 1440px) {
  .example__img {
    position: absolute;
    top: -600px;
    right: 0;
    background-image: linear-gradient(to bottom, #ffffff 120px, #eaeaea 120px);
  }
}

@media (min-width: 768px) {
  .example__stats-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .example__stats-total {
    flex-direction: column;
  }
}

.example__stats {
  margin: 0;
  display: flex;
  margin-bottom: 20px;
  gap: 32px;
}
@media (min-width: 1440px) {
  .example__stats {
    margin-bottom: 55px;
  }
}

.example__stats-number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 9px;
}
@media (min-width: 768px) {
  .example__stats-number {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 13px;
  }
}

.example__stats-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 124px;
}
@media (min-width: 768px) {
  .example__stats-item {
    width: 162px;
  }
}
.example__stats-item::after {
  position: absolute;
  content: "";
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  top: -13px;
  left: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .example__stats-item::after {
    width: 162px;
    height: 72px;
  }
}

.example__stats-description {
  margin: 0;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 80px;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__stats-description {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example__stats-description {
    background-color: #eaeaea;
  }
}

.example__eat {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .example__eat {
    flex-direction: column;
    justify-content: flex-start;
    gap: 9px;
  }
}
@media (min-width: 1440px) {
  .example__eat {
    display: flex;
    width: 680px;
    gap: 63px;
    margin-bottom: 75px;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.example__total {
  font-family: "Oswald", sans-serif;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__total {
    font-size: 20px;
    justify-content: flex-end;
    margin: 0;
  }
}

.example__img-button {
  position: relative;
}

.footer {
  padding: 40px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .footer {
    padding: 0;
  }
}

.footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__wrapper {
    padding: 56px 30px;
  }
}
@media (min-width: 1440px) {
  .footer__wrapper {
    padding: 67px 110px;
  }
}
.footer__wrapper::after, .footer__wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}
.footer__wrapper::before {
  top: 106px;
}
.footer__wrapper::after {
  bottom: 115px;
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: 150px 150px 170px;
    justify-content: space-between;
    align-items: center;
  }
  .footer__wrapper::after, .footer__wrapper::before {
    display: none;
  }
}

.footer__logo-text img {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__logo-text img {
    align-self: center;
    padding: 0;
    width: 142px;
    height: 26px;
  }
}

.footer__logo-text:hover {
  opacity: 80%;
}
.footer__logo-text:hover:active {
  opacity: 60%;
}

.footer__socials {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__socials {
    padding: 0;
  }
}

.footer__copyright-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__copyright-link {
    padding: 0;
  }
}
.footer__copyright-link:hover {
  fill: #68b738;
}
.footer__copyright-link:active {
  opacity: 30%;
}

.socials {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  align-items: center;
  justify-content: center;
}

.socials__link:hover {
  fill: #68b738;
}
.socials__link:hover:active {
  opacity: 30%;
}

.cooperation {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .cooperation {
    background-color: white;
  }
}
@media (min-width: 1440px) {
  .cooperation {
    position: relative;
  }
}

.cooperation__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 20px 26px;
}
@media (min-width: 768px) {
  .cooperation__header {
    padding: 56px 70px;
  }
}
@media (min-width: 1440px) {
  .cooperation__header {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    z-index: 1;
    background-color: white;
  }
}

.cooperation__title {
  text-transform: uppercase;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.cooperation__address {
  font-style: normal;
}
@media (min-width: 768px) {
  .cooperation__address {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .cooperation__address {
    text-align: left;
  }
}

.cooperation__img {
  border: none;
  display: block;
  margin: 0;
  height: 362px;
  width: 100%;
}
@media (min-width: 768px) {
  .cooperation__img {
    height: 400px;
  }
}

.cooperation--color {
  background-color: #f2f2f2;
}

.catalog {
  position: relative;
}
.catalog::after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #ebebeb;
  height: 1px;
  left: 0;
  top: 20px;
}
@media (min-width: 768px) {
  .catalog::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .catalog {
    margin-bottom: 43px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    margin-bottom: 51px;
  }
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 52px;
  padding-bottom: 41px;
  position: relative;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 163px;
    padding-top: 64px;
  }
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 141px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: repeat(4, 245px);
    row-gap: 143px;
    column-gap: 80px;
  }
}

.product {
  padding: 19px 0 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
@media (min-width: 768px) {
  .product {
    background-color: #f2f2f2;
    padding-left: 39px;
    padding-right: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .product {
    padding-right: 38px;
  }
}

.product::after {
  position: absolute;
  content: "";
  width: calc(100% + 20px);
  background-color: #ebebeb;
  height: 1px;
  left: -20px;
  top: 0;
}
@media (min-width: 768px) {
  .product::after {
    display: none;
  }
}

.product--to-all {
  padding-top: 78px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .product--to-all {
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    align-items: center;
    justify-content: flex-end;
  }
}

.product__link {
  width: 76px;
}
.product__link:hover {
  opacity: 60%;
}
.product__link:active {
  opacity: 30%;
}
.product__link:focus-visible {
  border: none;
  outline: 2px solid orange;
}
@media (min-width: 768px) {
  .product__link {
    display: flex;
    align-self: center;
    width: 150px;
    margin-top: -125px;
    margin-bottom: 23px;
  }
}

.product__link--to-all {
  display: flex;
  width: 100%;
  justify-content: center;
}

.product__title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .product__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product__link--to-all .product__title {
  display: flex;
  width: 280px;
  justify-content: center;
}

.product__description {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 16px;
  max-width: 350px;
}
@media (min-width: 768px) {
  .product__description {
    font-size: 16px;
    justify-content: center;
  }
}
.product__description div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .product__description div {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: 1440px) {
  .product__value::after {
    width: 169px;
  }
}

@media (min-width: 768px) {
  .product__desc {
    justify-self: end;
  }
}

.product__button {
  text-align: center;
  padding: 10px 20px;
  grid-column: 1/3;
  grid-row: 3/4;
}
@media (min-width: 768px) {
  .product__button {
    width: 100%;
    max-width: 350px;
  }
}
@media (min-width: 1440px) {
  .product__button {
    width: 168px;
  }
}

.product__button-all {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #000000;
  width: 100%;
  padding: 10px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
@media (min-width: 768px) {
  .product__button-all {
    padding: 10px 20px;
  }
}
.product__button-all::after, .product__button-all::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: lightgray;
  top: -110px;
  left: 125px;
}
@media (min-width: 768px) {
  .product__button-all::after, .product__button-all::before {
    width: 60px;
    top: -282px;
    left: 94px;
  }
}
@media (min-width: 1440px) {
  .product__button-all::after, .product__button-all::before {
    left: 56px;
  }
}
.product__button-all::after {
  transform: rotate(90deg);
}

.product__text {
  margin: 0;
  margin-bottom: 21px;
  text-align: center;
  grid-column: 1/3;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .product__text {
    font-size: 16px;
    line-height: 18px;
    width: 165px;
    text-align: center;
    margin-bottom: 87px;
  }
}

.product__link-img {
  padding-left: 36px;
  padding-top: 8px;
  grid-column: 1/2;
  grid-row: 1/3;
}
.product__link-img:hover {
  opacity: 60%;
}
.product__link-img:active {
  opacity: 30%;
}
.product__link-img:focus-visible {
  border: none;
  outline: 2px solid orange;
}
@media (min-width: 768px) {
  .product__link-img {
    display: flex;
    width: 100%;
    margin-bottom: 161px;
    justify-content: center;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .product__link-img {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .product__link-img img {
    width: 161px;
    height: 172px;
    margin-top: -70px;
  }
}
@media (min-width: 1440px) {
  .product__link-img img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .product__link-img--lg img {
    width: 168px;
    height: 200px;
    margin-top: -94px;
  }
}
@media (min-width: 1440px) {
  .product__link-img--lg img {
    width: 172px;
    height: 196px;
  }
}

.add-product {
  padding-top: 25px;
  position: relative;
}
.add-product::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  top: 40px;
  z-index: -1;
  box-shadow: 100vw 0 0 0 #68b738;
}
@media (min-width: 768px) {
  .add-product::after {
    top: 50px;
    width: 100vw;
    right: 0;
  }
}
@media (min-width: 1440px) {
  .add-product::after {
    top: 47px;
  }
}
@media (min-width: 768px) {
  .add-product {
    margin-bottom: 76px;
  }
}

.add-product__main-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
  background-color: #ffffff;
  width: 253px;
}
@media (min-width: 768px) {
  .add-product__main-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    width: 411px;
    padding-left: 37px;
  }
}
@media (min-width: 1440px) {
  .add-product__main-title {
    margin-bottom: 81px;
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .add-product-block {
    display: flex;
    gap: 80px;
  }
}

.add-product__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .add-product__list {
    border: 1px solid #cdcdcd;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .add-product__list {
    border: none;
    max-width: 895px;
    padding: 0;
  }
}

.add-product__item {
  padding-top: 13px;
  padding-bottom: 19px;
  position: relative;
}
.add-product__item::after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #ebebeb;
  height: 1px;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .add-product__item {
    display: grid;
    grid-template-columns: 325px 1fr;
  }
}
@media (min-width: 1440px) {
  .add-product__item {
    grid-template-columns: 288px 285px 244px;
    column-gap: 40px;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}

.add-product__title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .add-product__title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .add-product__title {
    align-self: end;
  }
}

.add-product__description {
  display: grid;
  grid-template-columns: 200px 81px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .add-product__description {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .add-product__description {
    align-self: end;
  }
}

.add-product__button {
  margin: 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .add-product__button {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .add-product__button {
    width: 244px;
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.promotion {
  position: relative;
  margin-bottom: 35px;
  height: 290px;
  background-image: url("../img/main/promotion-cat.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding-top: 186px;
}
.promotion::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../img/main/present.svg");
  top: 58px;
  left: 101px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .promotion::before {
    top: 59px;
  }
}
@media (min-width: 1440px) {
  .promotion::before {
    left: 83px;
    top: 55px;
  }
}
@media (min-width: 768px) {
  .promotion {
    background-position: 100% 62%;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .promotion {
    width: 245px;
    margin-bottom: 0;
    height: 288px;
    padding: 0;
    background-size: 110%;
    background-position: 136% 0%;
  }
}

.promotion__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promotion__text {
    position: absolute;
    top: 71px;
    left: 439px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .promotion__text {
    top: 184px;
    left: 5px;
    text-align: center;
    width: 100%;
  }
}

.data {
  padding-top: 27px;
  position: relative;
}
.data::after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #ebebeb;
  height: 1px;
  bottom: 0;
  left: 0;
  top: 20px;
}
@media (min-width: 768px) {
  .data::after {
    display: none;
  }
}
.data::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 369px;
  left: 0;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .data::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .data {
    padding-top: 64px;
  }
}
@media (min-width: 1440px) {
  .data {
    padding-top: 73px;
  }
}

.data__section {
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .data__section {
    padding: 0 67px 0 70px;
  }
}
@media (min-width: 1440px) {
  .data__section {
    padding: 0 110px;
  }
}

.data__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 37px;
  position: relative;
}
@media (min-width: 768px) {
  .data__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.data__text {
  margin: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding-bottom: 39px;
}
@media (min-width: 768px) {
  .data__text {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  display: flex;
}

.form__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 768px) {
  .form__list {
    padding-bottom: 72px;
  }
}

@media (min-width: 1440px) {
  .form__fieldset-dw {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

@media (min-width: 1440px) {
  .form__fieldset--user .form__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 77px;
    align-items: start;
  }
}

.form__list .form__input-text:not(:last-child) {
  margin-bottom: 14px;
}

.form__input-text {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.form__input-text label {
  display: flex;
  align-items: center;
  width: 100%;
}
.form__input-text input {
  flex-grow: 1;
  width: 100%;
}

.form__fieldset--choice .form__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 13px;
  position: relative;
  padding-top: 22px;
  padding-right: 23px;
}
@media (min-width: 768px) {
  .form__fieldset--choice .form__list {
    border: 1px solid #e7e7e7;
    height: 196px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    margin-bottom: 75px;
  }
}
.form__fieldset--choice .form__list::before {
  position: absolute;
  content: "";
  width: calc(100% + 40px);
  height: 1px;
  top: 156px;
  left: -20px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .form__fieldset--choice .form__list::before {
    display: none;
  }
}

.form__input-user:not(:last-child) {
  margin-bottom: 14px;
}

.form__text {
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 13px;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .form__text {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__radio .form__text {
  padding-left: 45px;
}
@media (min-width: 768px) {
  .form__radio .form__text {
    padding-left: 60px;
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  background-color: #ffffff;
  z-index: 1;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__fieldset--add .form__title {
  width: 160px;
}
@media (min-width: 768px) {
  .form__fieldset--add .form__title {
    width: 250px;
  }
}

.form__comment-text .form__title {
  width: 144px;
}
@media (min-width: 768px) {
  .form__comment-text .form__title {
    width: 214px;
  }
}

.form__fieldset--user .form__title {
  width: 200px;
}
@media (min-width: 768px) {
  .form__fieldset--user .form__title {
    width: 540px;
  }
}

.form__fieldset--user .form__title::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  top: 16px;
  z-index: -2;
  box-shadow: 100vw 0 0 0 #68b738;
}
@media (min-width: 768px) {
  .form__fieldset--user .form__title::after {
    top: 19px;
    right: 0;
  }
}
.form__fieldset--user .form__title::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 60px;
  background-color: #ffffff;
  top: 0;
  left: -20px;
  z-index: -1;
}
@media (min-width: 768px) {
  .form__fieldset--user .form__title::before {
    width: 559px;
  }
}

.form__comment-text .form__title::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  top: 16px;
  z-index: -2;
  box-shadow: 100vw 0 0 0 #68b738;
}
@media (min-width: 768px) {
  .form__comment-text .form__title::after {
    right: 0;
  }
}
.form__comment-text .form__title::before {
  position: absolute;
  content: "";
  width: 165px;
  height: 40px;
  background-color: #ffffff;
  top: 0;
  left: -20px;
  z-index: -1;
}
@media (min-width: 768px) {
  .form__comment-text .form__title::before {
    width: 222px;
  }
}

.form__fieldset--add .form__title::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  top: 16px;
  z-index: -2;
  box-shadow: 100vw 0 0 0 #68b738;
}
@media (min-width: 768px) {
  .form__fieldset--add .form__title::after {
    top: 21px;
    right: 0;
  }
}
.form__fieldset--add .form__title::before {
  position: absolute;
  content: "";
  width: 185px;
  height: 40px;
  background-color: #ffffff;
  top: 0;
  left: -20px;
  z-index: -1;
}
@media (min-width: 768px) {
  .form__fieldset--add .form__title::before {
    width: 262px;
  }
}

.form__comment-text {
  display: grid;
  row-gap: 37px;
  margin-bottom: 22px;
  margin-left: 1px;
  position: relative;
}
@media (min-width: 768px) {
  .form__comment-text {
    row-gap: 76px;
    margin-left: 3px;
  }
}

.form__checkbox .form__text {
  padding-left: 46px;
}
@media (min-width: 768px) {
  .form__checkbox .form__text {
    padding-left: 60px;
  }
}

.form__fieldset--user {
  margin-top: 26px;
}

.form__fieldset--user legend {
  margin-bottom: 35px;
}

.form__fieldset--user,
.form__fieldset--add {
  position: relative;
}

.form__fieldset--add ul {
  display: block;
  margin-top: 50px;
  padding: 0;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .form__fieldset--add ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin-top: 57px;
    max-width: 900px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--add ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1440px;
    margin-bottom: 61px;
  }
}

.form__fieldset--add .form__checkbox:not(:last-child) {
  margin-bottom: 42px;
}
@media (min-width: 1440px) {
  .form__fieldset--add .form__checkbox:not(:last-child) {
    margin-bottom: 0;
  }
}

.form__fieldset--choice .form__radio:not(:last-child) {
  margin-bottom: 13px;
}
@media (min-width: 1440px) {
  .form__fieldset--choice .form__radio:not(:last-child) {
    margin: 0;
  }
}

.form__input-user {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.form__input-user label {
  display: flex;
  align-items: center;
  width: 100%;
}
.form__input-user input {
  flex-grow: 1;
  width: 100%;
}

.form__label svg {
  position: absolute;
  right: 15px;
  top: 15px;
}
@media (min-width: 768px) {
  .form__label svg {
    right: 20px;
    top: 20px;
  }
}

.form__input--error {
  border: 1px solid red;
  outline: none;
}

.form__input--error + svg {
  color: red;
}

.form__input--error + svg {
  color: #000000;
}

.form__input {
  border: 1px solid #eaeaea;
}
.form__input:hover {
  border: 1px solid #cdcdcd;
}
.form__input:focus {
  border: 1px solid #000000;
}

.form__input:focus + svg {
  color: #68b738;
}

[placeholder] {
  text-transform: uppercase;
  padding: 14px 12px 13px 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  [placeholder] {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 55px 10px 20px;
  }
}

.form__button-tip {
  width: 100%;
}
@media (min-width: 768px) {
  .form__button-tip {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
  }
}

.form__button {
  border: none;
  min-width: 282px;
  max-width: 400px;
  padding: 9px 15px;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .form__button {
    padding: 16px 40px;
    margin-bottom: 0;
    margin-right: 64px;
    max-width: 568px;
  }
}
@media (min-width: 1440px) {
  .form__button {
    width: 568px;
    margin-right: 84px;
  }
}

.form__tip {
  display: flex;
  justify-content: center;
}

.form__control-input {
  position: relative;
}

.form__checkbox .form__mark {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  top: -7px;
  left: 0;
}
.form__checkbox .form__mark:hover {
  border: 1px solid #bababa;
}
@media (min-width: 768px) {
  .form__checkbox .form__mark {
    width: 40px;
    height: 40px;
    top: -15px;
    left: 0;
  }
}

.form__input--checkbox:focus-visible + .form__mark {
  position: absolute;
  content: "";
  top: -15px;
  left: 0;
  outline: 2px solid orange;
  outline-offset: 2px;
  width: 40px;
  height: 40px;
}

.form__input[type=checkbox]:checked + .form__mark::before {
  background-image: url("./../img/main/checked-small.svg");
  background-repeat: no-repeat;
  top: 7px;
  left: 6px;
  height: 14px;
  width: 18px;
  position: absolute;
  content: "";
}
@media (min-width: 768px) {
  .form__input[type=checkbox]:checked + .form__mark::before {
    background-image: url("./../img/main/checked.svg");
    height: 18px;
    width: 24px;
    top: 9px;
    left: 7px;
  }
}

.form__control-radio {
  position: relative;
}

.form__radio .form__mark {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  top: -7px;
  left: 0;
  border-radius: 50%;
}
.form__radio .form__mark:hover {
  border: 1px solid #bababa;
}
@media (min-width: 768px) {
  .form__radio .form__mark {
    width: 40px;
    height: 40px;
    top: -15px;
    left: 0;
  }
}

.form__input--radio:focus-visible + .form__mark {
  position: absolute;
  content: "";
  top: -15px;
  left: 0;
  outline: 2px solid orange;
  outline-offset: 2px;
  width: 40px;
  height: 40px;
}

.form__input[type=radio]:checked + .form__mark::before {
  border: 1px solid #68b738;
  background-color: #68b738;
  border-radius: 50%;
  background-repeat: no-repeat;
  top: 7px;
  left: 8px;
  height: 13px;
  width: 13px;
  position: absolute;
  content: "";
}
@media (min-width: 768px) {
  .form__input[type=radio]:checked + .form__mark::before {
    height: 18px;
    width: 18px;
    top: 10px;
    left: 10px;
  }
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  /*stylelint-disable-line*/
  -webkit-appearance: none;
          appearance: none;
  /*stylelint-disable-line*/
  margin: 0;
  /*stylelint-disable-line*/
}

.form__input[type=number] {
  /*stylelint-disable-line*/
  -moz-appearance: textfield;
  /*stylelint-disable-line*/
}
/*# sourceMappingURL=style.css.map */