.add-product {
  padding-top: 25px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    background-color: rgba(104, 183, 56, 1);
    top: 40px;
    right: 0;
    z-index: -2;
    box-shadow: 100vw 0 0 0 rgba(104, 183, 56, 1);

    @include tw() {
      top: 46px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 273px;
    height: 40px;
    background-color: #ffffff;
    top: 20px;
    left: -20px;
    z-index: -1;

    @include tw() {
      left: 30px;
    }

    @include dw() {
      left: 70px;
    }
  }

  @include tw() {
    top: 44px;
    width: 100vw;
    right: 0;
  }

  @include dw() {
    top: 54px;
    margin-bottom: 73px;
  }
}

.add-product__main-title {
  font-family: $fontoswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
  background-color: #ffffff;
  width: 247px;

  @include tw() {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    width: 411px;
    padding-left: 37px;
  }

  @include dw() {
    margin-bottom: 80px;
    margin-left: 0;
    padding: 0;
    width: 375px;
  }
}

.add-product-block {
  @include dw() {
    display: flex;
    gap: 80px;
  }
}

.add-product__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;

  @include tw() {
    border: 1px solid rgba(205, 205, 205, 1);
    margin-bottom: 69px;
  }

  @include dw() {
    border: none;
    max-width: 895px;
    padding: 0;
    padding-top: 10px;

    &::before {
      position: absolute;
      content: "";
      width: 896px;
      background-color: rgba(235, 235, 235, 1);
      height: 1px;
      left: 110px;
      bottom: 140px;
    }
  }
}

.add-product__item {
  padding-top: 13px;
  padding-bottom: 18px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    background-color: rgba(235, 235, 235, 1);
    height: 1px;
    top: 0;
    left: 0;

    @include dw() {
      width: 100%;
      left: 0;
    }
  }

  @include tw() {
    display: grid;
    grid-template-columns: 325px 1fr;
    padding-top: 25px;
    padding-bottom: 30px;
    margin-left: 38px;
    margin-right: 38px;

    &::before {
      position: absolute;
      content: "";
      width: calc(100% + 76px);
      left: -38px;
    }
  }

  @include dw() {
    grid-template-columns: 288px 285px 244px;
    column-gap: 39px;
    padding-top: 8px;
    padding-bottom: 23px;
    margin: 0;

    &::before {
      width: 100%;
      left: 0;
      top: -10px;
    }
  }
}


.add-product__title {
  font-family: $fontoswald;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;

  @include tw() {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  @include dw() {
    align-self: end;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.add-product__description {
  display: grid;
  grid-template-columns: 195px 85px;
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;

  @include tw() {
    font-size: 16px;
    grid-template-columns: 212px 91px;
  }

  @include dw() {
    align-self: end;
    margin-bottom: 8px;
    grid-template-columns: 201px 82px;
    justify-content: left;
  }
}

.add-product__desc {
  justify-self: end;

  @include dw() {
    justify-self: start;
  }
}

.add-product__value {
  @include tw() {
    justify-self: end;
  }

  @include dw() {
    justify-self: start;
  }
}

.add-product__button {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;

  @include tw() {
    width: 100%;
    max-width: 1272px;
  }

  @include dw() {
    width: 244px;
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.add-product--wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
