.button {
  background-color: rgba(104, 183, 56, 1);
  color: $white;
  text-transform: uppercase;
  font-family: $fontoswald;
  text-align: center;

  @include tw() {
    font-size: 20px;
    line-height: 20px;
  }
}
