.button {
  background-color: rgba(104, 183, 56, 1);
  color: $white;
  text-transform: uppercase;
  font-family: $fontoswald;
  text-align: center;

  @include tw() {
    line-height: 20px;
  }
}

.button:hover {
  background-color: rgba(94, 170, 47, 1);

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button:focus-visible {
  outline: 2px solid rgba(255, 165, 0);
  outline-offset: 7px;
  border: none;
}
