.catalog__title {
  font-family: $fontoswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
