.cooperation {
  background-color: $grey;

  @include tw() {
    background-color: rgba(255, 255, 255, 1);
  }

  @include dw() {
    position: relative;
  }
}

.cooperation__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 23px 26px 20px;

  @include tw() {
    padding: 60px 70px;
    padding-top: 55px;
  }

  @include dw() {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    padding: 55px 79px 60px;
  }
}


.cooperation__title {
  text-transform: uppercase;
  margin: 0;
  font-family: $fontoswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @include tw() {
    font-size: 20px;
    line-height: 26px;
    padding-top: 4px;
  }
}

.cooperation__address {
  font-style: normal;
  line-height: 20px;

  @include tw() {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
  }

  @include dw() {
    text-align: left;
  }
}

.cooperation__img {
  border: none;
  display: block;
  margin: 0;
  height: 362px;
  width: 100%;

  @include tw() {
    height: 400px;
  }
}

.cooperation--color {
  background-color: rgba(242, 242, 242, 1);
}
