.example {
  position: relative;
  padding: 25px 0 40px;
  background-color: rgba(234, 234, 234, 1);

  @include tw() {
    background-color: rgba(234, 234, 234, 1);
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
  }
}

.example__title {
  position: relative;
  font-family: $fontoswald;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;

  @include tw() {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;

    &::before {
      position: absolute;
      content: "";
      width: 768px;
      height: 1px;
      background-color: $greydark;
      top: -20px;
      left: -30px;
    }
  }
}

.example__text {
  margin: 0;
  margin-bottom: 34px;

  @include tw() {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__button {
  position: absolute;
  border: none;
  top: 360px;
  left: 135px;
  background-color: #08000000;

  @include tw() {
    top: 353px;
    left: 285px;
  }
}

.example__svg {
  height: 226px;

  @include tw() {
    height: 500px;
    width: 40px;
  }
}

.example__img {
  background-color: rgba(234, 234, 234, 1);

  @include tw() {
    width: 100%;
    height: 512px;
    background-image: linear-gradient(to bottom, #FFFFFF 150px, #EAEAEA 150px)
  }
}

.example__stats {
  margin: 0;
  display: flex;
  margin-bottom: 20px;
  gap: 32px;
}

.example__stats-number {
  font-family: $fontoswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 9px;
}

.example__stats-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 124px;

  &::after {
    position: absolute;
    content: "";
    width: 124px;
    height: 56px;
    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 3px;
    top: -13px;
    left: 0;
  }
}

.example__stats-description {
  margin: 0;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 80px;
  background-color: rgba(234, 234, 234, 1);
  z-index: 1;
  font-size: 12px;
  line-height: 12px;
}

.example__total {
  font-family: $fontoswald;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;

  @include tw() {
    font-size: 20px;
    justify-content: flex-end;
    width: 174px;
    margin: 0;
  }
}
