.example {
  padding: 25px 20px 40px;
}

.example__wrapper {
  background-color: $greydark;
  width: 280px;
  padding: 25px 20px 40px;
}

.example__title {
  font-family: $fontoswald;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}