.example {
  position: relative;
  padding: 25px 0 36px;
  background-color: rgba(234, 234, 234, 1);
  z-index: -2;

  @include tw () {
    padding-top: 31px;
  }

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: $greydark;
    top: -15px;
    left: -30px;
    display: none;

    @include tw() {
      display: block;
    }

    @include dw() {
      display: none;
    }
  }

  @include tw() {
    background-image: linear-gradient(to bottom, #ffffff 606px, #eaeaea 606px);
    padding-bottom: 96px;
  }

  @include dw() {
    background-image: linear-gradient(to bottom, #ffffff 169px, #eaeaea 169px);
    padding-bottom: 0;
  }
}

.example__wrapper {
  max-width: 1440px;
  margin: 0 auto;

  @include dw() {
    display: flex;
  }
}

.example__title {
  position: relative;
  font-family: $fontoswald;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;

  @include tw() {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @include dw() {
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 34px;

  @include tw() {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 66px;
    width: 708px;
  }

  @include dw() {
    width: 433px;
    margin-bottom: 84px;
  }
}

.example__img-button {
  position: relative;
}

.example__button {
  position: absolute;
  border: none;
  height: 256px;
  width: 4px;
  border-radius: 2px;
  padding: 0;
  background-color: #666666;
  cursor: pointer;
  outline: none;
  top: 0;
  left: 139px;

  svg {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666666;
    transition: color 0.26s ease-in-out;
  }

  @include tw() {
    left: 354px;
    height: 512px;
  }

  @include dw() {
    left: 259px;
    top: 0;
    position: absolute;
  }
}

.example__button:hover {
  background-color: #68b738;

  svg {
    color: #68b738;
  }
}

.example__button:active {
  background-color: #5eea2f;

  svg {
    color: #5eea2f;
  }
}


.example__img {
  background-color: rgba(234, 234, 234, 1);
  display: inline-block;

  @include tw() {
    height: 512px;
    width: 560px;
    background-image: linear-gradient(to bottom, #ffffff 150px, #eaeaea 150px);
    margin-left: 74px;
  }

  @include dw() {
    background-image: linear-gradient(to bottom, #ffffff 138px, #eaeaea 138px);
    margin-left: -11px;
  }
}

.example__stats-total {
  @include tw() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include dw() {
    flex-direction: column;
    grid-column: 1/2;
  }
}

.example__stats {
  margin: 0;
  display: flex;
  margin-bottom: 20px;
  gap: 35px;

  @include tw() {
    margin-bottom: 98px;
    gap: 43px;
  }

  @include dw() {
    margin-bottom: 51px;
  }
}

.example__stats-number {
  font-family: $fontoswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 9px;

  @include tw() {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 7px;
  }
}

.example__stats-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 124px;

  @include tw() {
    width: 162px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 124px;
    height: 56px;
    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 3px;
    top: -13px;
    left: 0;
    z-index: -1;

    @include tw() {
      width: 162px;
      height: 72px;
    }
  }
}

.example__stats-description {
  margin: 0;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 80px;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;

  @include tw() {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
    background-color: #ffffff;
  }

  @include dw() {
    background-color: #eaeaea;
  }
}

.example__eat {
  display: flex;
  justify-content: center;

  @include tw() {
    flex-direction: column;
    justify-content: flex-start;
    gap: 9px;
  }

  @include dw() {
    display: flex;
    width: 680px;
    gap: 63px;
    margin-bottom: 75px;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.example__total {
  font-family: $fontoswald;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
  max-width: 200px;

  @include tw() {
    font-size: 20px;
    justify-content: flex-end;
    margin: 0;
    max-width: 400px;
  }
}
