.footer {
  padding: 40px 20px;
  background-color: $grey;
  position: relative;
  display: flex;
  flex-direction: column;

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: rgba(217, 217, 217, 1);
  }

  &::before {
    top: 84px;
  }

  &::after {
    bottom: 94px;
  }

  @include tw() {
    display: grid;
    grid-template-columns: 150px 150px 170px;
    justify-content: space-between;
    align-items: center;


    &::after,
    &::before {
      display: none;
    }
  }
}

.footer__logo-text {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include tw() {
    align-self: center;
  }
}

.footer__socials {
  padding-bottom: 40px;
}

.footer__copyright-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
