.footer {
  padding: 38px 20px;
  background-color: $grey;

  @include tw() {
    padding: 0;
  }
}

.footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @include tw() {
    padding: 57px 30px;
  }

  @include dw() {
    padding: 67px 110px;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(217, 217, 217, 1);
  }

  &::before {
    top: 106px;
  }

  &::after {
    bottom: 118px;
  }

  @include tw() {
    display: grid;
    grid-template-columns: 145px 398px 167px;
    align-items: center;
    justify-content: space-between;

    &::after,
    &::before {
      display: none;
    }
  }
  @include dw() {
  justify-content: space-between;
  column-gap: 0;
  }
}

.footer__logo-text img {
  padding-bottom: 43px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  @include tw() {
    align-self: center;
    padding: 0;
    width: 142px;
    height: 26px;
  }
}

.footer__logo-text {
  &:hover{
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.footer__socials {
  padding-bottom: 36px;

  @include tw() {
    padding: 0;
    margin-left: 20px;
  }
}

.footer__copyright-link {
  color: #666666;
  span {
  color: #444444;
  letter-spacing: 1px;
  transition: color 0.26s ease-in-out;
  font-size: 16px;
  }
}

.footer__copyright {
  @include tw() {
    display: flex;
    justify-content: flex-end;
  }
}

.footer__copyright-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: color 0.26s ease-in-out;

  span {
    letter-spacing: -0.2px;
  }


  @include tw() {
    padding: 0;
    width: 167px;
  }

  &:hover span {
    color: rgba(104, 183, 56, 1);
  }

  &:hover {
    color: rgba(104, 183, 56, 1);
  }

  &:active {
    opacity: 30%;
  }
}
