.form__fieldset {
  border: none;
  padding: 0;
  display: flex;
}

.form__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}

.form__list .form__input-text:not(:last-child) {
  margin-bottom: 14px;
}

.form__input-text {
  display: flex;
  flex-direction: row;
  width: 100%;

  label {
    display: flex;
    align-items: center;
    width: 100%;
  }

  input {
    flex-grow: 1;
    width: 100%;
  }
}

.form__fieldset--choice .form__list {
  display: grid;
  grid-template-columns: 280px;
  row-gap: 13px;
  position: relative;
  padding-top: 22px;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    top: 120px;
    left: -20px;
    background-color: $greydark;
  }
}

.form__input-user:not(:last-child) {
  margin-bottom: 14px;
}

.form__text {
  font-size: 16px;
  font-weight: 400;
  font-family: $fontoswald;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 13px;
  flex-shrink: 0;
}

.form__title {
  font-family: $fontoswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form__comment-text {
  display: grid;
  row-gap: 37px;
  margin-bottom: 22px;
}

.form__buttton {
  border: none;
  width: 280px;
  padding: 9px 15px;
  margin-bottom: 21px;
}

.form__fieldset--add .form__list {
  flex-direction: column;
}

.form__fieldset--user legend {
  margin-bottom: 35px;

}

.form__checkbox:not(:last-child) {
  margin-bottom: 12px;
}

.form__fieldset--add ul {
  margin-top: 13px;
}

.form__input-user {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;

  label {
    display: flex;
    align-items: center;
    width: 100%;
  }

  input {
    flex-grow: 1;
    width: 100%;
  }
}

.form__svg {
  position: absolute;
  left: 245px;
  top: 15px
}

.form__tip {
  display: flex;
  justify-content: center;
}

.form__input {
  border: 1px solid $greydark;
}

[placeholder] {
  text-transform: uppercase;
  padding: 14px 12px 13px 15px;
  font-family: $fontoswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form__input[type=number] {
  -moz-appearance: textfield;
}
