.header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 17px;
  position: relative;
  z-index: 4;

  @include tw() {
    display: inline-flex;
  }
}

.header__body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 65px;
  align-items: center;
  gap: 56px;

  @include tw() {
    gap: 13px;
  }

  @include dw() {
    padding-top: 70px;
  }
}

.header__nav {
  background-color: $white;
  height: 65px;

  @include tw() {
    display: flex;
    flex-wrap: wrap;
    padding-top: 17px;
    margin-left: auto;
  }

  @include dw() {
    padding-top: 70px;
  }
}

.header__burger {
  position: absolute;
  top: 24px;
  right: 20px;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 16px;
  display: block;

  @include tw() {
    display: none;
    position: relative;
  }
}

.header__burger::after {
  content: "";
  position: absolute;
  background-color: $black;
  width: 24px;
  height: 1.5px;
  right: 0;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.header__list {
  list-style: none;
  z-index: 2;
  padding: 0;
  margin: 0;
  gap: 33px;
  justify-content: center;

  @include tw() {
    display: flex;
  }
}

.header__item {
  font-family: $fontoswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;

  @include tw() {
    font-size: 18px;
    line-height: 24px;
  }

  @include dw() {
    font-size: 20px;
    line-height: 30px;
  }
}


.header__item--current {
  position: relative;

  @include tw() {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      background-color: #68b738;
      height: 2px;
      top: 35px;
      left: 0;
    }
  }
}


.header__logo-text,
.header__logo {
  display: block;
  flex-shrink: 0;
  z-index: 3;
}
