.header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 17px;
  position: relative;
  z-index: 4;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    background-color: rgba(235, 235, 235, 1);
    height: 1px;
    bottom: 0;
    left: 0;
  }

  @include tw() {
    display: inline-flex;
  }
}

.header__burger {
  position: absolute;
  top: -10px;
  right: 20px;

  @include tw() {
    display: none;
    position: relative;
    width: 24px;
    height: 16px;
  }
}

.header__burger span {
  position: absolute;
  background-color: $black;
  width: 24px;
  height: 1.5px;
  right: 0;
  top: 30px;
}

.header__burger::before,
.header__burger::after {
  content: "";
  position: absolute;
  background-color: $black;
  width: 24px;
  height: 1.5px;
  right: 0;
}

.header__burger::before {
  top: 50px;
  z-index: 3;
}

.header__burger::after {
  top: 40px;
}

.header__body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 65px;
  align-items: center;
  gap: 56px;

  @include tw() {
    gap: 13px;
  }
}

.header__item--current {
  position: relative;
}

.header__item--current::after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #68B738;
  height: 2px;
  top: 28px;
  left: 0;
}

.header__list {
  list-style: none;
  z-index: 2;
  padding: 0;
  margin: 0;
  gap: 33px;

  @include tw() {
    display: flex;
  }

}

.header__item {
  font-family: $fontoswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.header__logo-text,
.header__logo {
  display: block;
  flex-shrink: 0;
  z-index: 3;
}

.header__nav {
  background-color: $white;
  height: 100%;
  display: none;

  @include tw() {
    display: flex;
    flex-wrap: wrap;
    padding-top: 22px;
    margin-left: auto;
  }
}
