.hero {
  width: 320px;
  margin: 0 auto;
  background-color: $colorgreen;
  opacity: 85%;
  color: #fff;
  padding: 27px 35px 20px;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.hero__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: regular;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.hero__button {
  width: 280px;
  padding: 7px 44px;
}