.hero {
  margin: 0 auto;
  color: $white;
  position: relative;
  padding: 0;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/main/cat.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include tw() {
      display: none;
    }
  }

  @include dw() {
    margin-top: 111px;
    z-index: -3;
  }
}

.hero__header {
  width: 100%;

  @include tw() {
    display: none;
  }

  @include dw() {
    position: absolute;
    display: block;
    width: 720px;
    right: 0;
    top: -281px;
  }
}

.hero__main {
  padding-top: 27px;
  margin-bottom: 100px;

  @include tw() {
    margin-bottom: 40px;
    padding-top: 39px;
  }

  @include dw() {
    padding-left: 190px;
  }

  div {
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include tw() {
      position: static;
      display: block;
    }
  }
}

.hero__title-slogan {
  margin-bottom: 50px;

  @include dw() {
    margin-right: 100px;
  }
}

.hero__title {
  display: flex;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;
  justify-content: center;

  @include tw() {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    display: block;
    margin-left: 100px;
    margin-bottom: 41px;
  }

  @include dw() {
    margin-left: 0;
    margin-top: -70px;
  }
}

.hero__slogan {
  font-family: $fontoswald;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;

  @include tw() {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    margin-left: 100px;
    display: inline-block;
  }

  @include dw() {
    margin-left: 0;
    margin-bottom: 52px;
  }
}

.hero__img {
  width: 100%;

  @include tw() {
    width: 709px;
    height: 609px;
    margin: 0;
    margin-left: 32px;
  }

  @include dw() {
    position: absolute;
    height: 499px;
    width: 552px;
    top: -101px;
    left: 529px;
    z-index: 2;
  }
}

.hero__button {
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-bottom: 11px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -96px;
  margin-left: 20px;
  margin-right: 20px;


  @include tw() {
    position: absolute;
    top: 357px;
    left: 102px;
    width: 244px;
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: center;
    margin-left: 0;
  }

  @include dw() {
    position: static;
    margin: 0;
    margin-bottom: 208px;
    margin-left: 190px;
  }
}

.hero__button:hover {
  background-color: rgba(94, 170, 47, 1);

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
