.product {
  padding: 19px 0 25px;
  display: grid;
  grid-template-columns: 140px 140px;

  &--to-all {
    position: relative;
    padding-top: 78px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: rgba(211, 211, 211, 1);
    top: 39px;
    right: 125px;

  }

  &::after {
    transform: rotate(90deg);
  }
}


.product__link--to-all {
  display: block;
}

.product__title {
  font-family: $fontoswald;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-bottom: 14px;
}

.product__link--to-all .product__title {
  display: flex;
  width: 280px;
  justify-content: center;
}

.product__description {
  display: grid;
  grid-template-columns: 50px 88px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
  margin-bottom: 22px;
}

.product__button {
  padding: 10px 113px;
  grid-column: 1/3;
  grid-row: 3/4;
}

.product__button-all {
  background-color: $grey;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $fontoswald;
  color: $black;
  width: 280px;
  padding: 10px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__text {
  margin: 0;
  padding-bottom: 21px;
  text-align: center;
  grid-column: 1/3;
  align-items: start;
}

.product__link--img {
  padding-left: 36px;
  padding-top: 8px;
  grid-column: 1/2;
  grid-row: 1/3;
}
