.product {
  padding: 21px 0 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  @include tw() {
    background-color: rgba(242, 242, 242, 1);
    padding-left: 38px;
    padding-right: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
    width: 324px;
  }

  @include dw() {
    padding-right: 38px;
    width: 245px;
  }
}

.product::after {
  position: absolute;
  content: "";
  width: calc(100% + 20px);
  background-color: rgba(235, 235, 235, 1);
  height: 1px;
  left: -20px;
  top: 0;

  @include tw() {
    display: none;
  }
}

.product--to-all {
  padding-top: 80px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tw() {
    background-color: #ffffff;
    border: 1px solid rgba(205, 205, 205, 1);
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 31px;
    width: 324px;
  }

  @include dw() {
    width: 245px;
  }
}

.product__link {
  width: 85px;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  &:focus-visible {
    border: none;
    outline: 2px solid rgba(255, 165, 0);
  }

  @include tw() {
    display: flex;
    align-self: center;
    width: 150px;
    margin-top: -125px;
    margin-bottom: 14px;
  }
}

.product__link--to-all {
  display: flex;
  width: 100%;
  justify-content: center;
}

.product__title {
  font-family: $fontoswald;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-bottom: 14px;

  @include tw() {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: -3px;
  }
}

.product__link--to-all .product__title {
  display: flex;
  width: 280px;
  justify-content: center;
  margin-bottom: 9px;

  @include tw() {
    width: 170px;
  }
}

.product__description {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 16px;
  max-width: 350px;

  @include tw() {
    font-size: 16px;
    justify-content: center;
    margin-bottom: 30px;
  }

  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include tw() {
      padding-top: 7px;
      padding-bottom: 9px;
      border-bottom: 1px solid rgba(205, 205, 205, 1);
    }
  }
}

.product__value::after {
  @include dw() {
    width: 169px;
  }
}

.product__desc {
  @include tw() {
    justify-self: end;
  }
}

.product-button {
  text-align: center;
  padding: 10px 20px;
  grid-column: 1/3;
  grid-row: 3/4;
  font-size: 16px;
  line-height: 20px;

  @include tw() {
    width: 100%;
    max-width: 350px;
  }

  @include dw() {
    width: 168px;
  }
}

.product__button-all {
  background-color: $grey;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $fontoswald;
  color: $black;
  width: 100%;
  padding: 10px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  @include tw() {
    padding: 10px 20px;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: rgba(211, 211, 211, 1);
    top: -105px;
    left: 125px;

    @include tw() {
      width: 60px;
      top: -271px;
      left: 94px;
    }

    @include dw() {
      left: 56px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}

.product__button--all:hover {
  background-color: rgba(235, 235, 235, 1);

  &:active {
    opacity: 60%;
    color: #000000;
  }
}

.product__text {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  grid-column: 1/3;
  font-size: 12px;
  line-height: 16px;

  @include tw() {
    font-size: 16px;
    line-height: 18px;
    width: 165px;
    text-align: center;
    margin-bottom: 87px;
  }
}

.product__link-img {
  padding-left: 36px;
  padding-top: 8px;
  grid-column: 1/2;
  grid-row: 1/3;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  &:focus-visible {
    border: none;
    outline: 2px solid rgba(255, 165, 0);
  }

  @include tw() {
    display: flex;
    width: 100%;
    margin-bottom: 167px;
    justify-content: center;
    padding: 0;
  }

  @include dw() {
    padding: 0;
    margin-bottom: 172px;
  }
}

.product__link-img--lg {
  @include tw() {
    margin-bottom: 165px;
  }

  @include dw() {
    margin-bottom: 172px;
  }
}

.product__link-img img {
  @include tw() {
    width: 161px;
    height: 172px;
    margin-top: -67px;
  }

  @include dw() {
    width: 100%;
    margin-top: -73px;
  }
}

.product__link-img--lg img {
  @include tw() {
    width: 168px;
    height: 200px;
    margin-top: -94px;
  }

  @include dw() {
    width: 172px;
    height: 196px;
    margin-top: -100px;
  }
}

.product__img--md {
  padding-top: 3px;
}

.product__img--lg {
  padding-top: 3px;
  margin-left: -8px;

  @include tw() {
    margin-left: -1px;
  }
}

.product__img {
  padding-top: 20px;
  padding-bottom: 16px;

  @include tw() {
    padding: 0;
  }
}
