.promotion {
  position: relative;
  margin-bottom: 35px;

  div {
    position: relative;

    @include dw() {
      position: absolute;
      top: -289px;
      right: 110px;
      width: 245px;
    }
  }
}

.promotion__block::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../img/main/present.svg");
  top: 58px;
  right: 122px;

  @include dw() {
    right: 79px;
  }
}

.promotion__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  color: $white;
  padding-top: 186px;
  height: 290px;
  background-image: url("../img/main/promotion-cat.svg");
  background-repeat: no-repeat;
  width: 100%;
}
