.promotion {
  position: relative;
  margin-bottom: 35px;
  height: 290px;
  background-image: url("../img/main/promotion-cat.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main/promotion-cat@2x.jpg");
  }

  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding-top: 186px;

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../img/main/present.svg");
    top: 58px;
    left: 101px;
    background-repeat: no-repeat;

    @include tw() {
      top: 55px;
      left: 79px;
    }

    @include dw() {
      left: 86px;
      top: 47px;
    }
  }

  @include tw() {
    background-position: 100% 62%;
    height: 200px;
    background-image: url("../img/main/promotion-cattablet.jpg");
    margin-bottom: 124px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/promotion-cattablet@2x.jpg");
    }
  }

  @include dw() {
    width: 245px;
    height: 288px;
    padding: 0;
    background-size: 110%;
    background-position: 110% 0%;
    background-image: url("../img/main/promotion-cat.jpg");
    margin-bottom: 140px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/promotion-cat@2x.jpg");
    }
  }
}

.promotion__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  color: $white;

  @include tw() {
    position: absolute;
    top: 68px;
    left: 423px;
    text-align: left;
  }

  @include dw() {
    top: 176px;
    left: -1px;
    text-align: center;
    width: 100%;
  }
}

.promotion__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
