.socials {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  align-items: center;
  justify-content: center;
}

.socials__link:hover {
  color: rgba(104, 183, 56, 1);
}

.socials__link:active {
  opacity: 30%;
}
