.socials {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  align-items: center;
  justify-content: center;

  @include tw() {
  padding-top: 9px;
  }
}

.socials__link {
color: #666666;

  &:hover {
    color: rgba(104, 183, 56, 1);
  }
  &:active {
    opacity: 30%;
  }
}
