.variants-food {
  display: flex;
  margin-bottom: 20px;

  @include tw() {
    margin-bottom: 45px;
  }
}

.variants-food__wrapper {
  display: block;

  @include dw() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.variants-food__item {
  background-color: $grey;
  row-gap: 20px;
  padding-left: 20px;
  padding-right: 33px;
  padding-bottom: 22px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    left: 22px;
    top: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(104, 183, 56, 1);

    @include tw() {
      left: 452px;
      top: 87px;
      width: 200px;
      height: 200px;
    }

    @include dw() {
      left: 52px;
      top: 47px;
      width: 100px;
      height: 100px;
    }
  }

  @include tw() {
    padding-bottom: 57px;
    padding-left: 52px;
  }

  @include dw() {
    padding-right: 61px;
  }
}

.variants-food__item:not(:last-child) {
  margin-bottom: 20px;

  @include dw() {
    margin: 0;
  }
}

.variants-food__title {
  position: relative;
  color: $black;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: $fontoswald;
  font-style: normal;
  font-weight: 400;
  padding-left: 72px;
  margin: 0;
  margin-bottom: 29px;
  padding-top: 30px;

  @include tw() {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    padding-left: 0;
  }

  @include dw() {
    padding-top: 77px;
    padding-left: 164px;
  }
}

.variants-food__img {
  position: absolute;
  top: 21px;
  left: 28px;
  z-index: 1;

  @include tw() {
    left: 410px;
    top: 70px;
    width: 268px;
    height: 194px;
  }

  @include dw() {
    left: 68px;
    top: 43px;
    width: 70px;
    height: 97px;
  }
}


.variants-food__img--pro {
  top: 35px;
  left: 12px;

  @include tw() {
    left: 420px;
    top: 95px;
  }

  @include dw() {
    left: 36px;
    top: 73px;
    width: 134px;
    height: 56px;
  }
}


.variants-food__link {
  font-family: $fontoswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;

  @include tw() {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 12px;
    background-image: url("../img/main/cat-arrow.svg");
    top: 5px;
    left: 100px;

    @include tw() {
      top: 10px;
      left: 125px;
    }
  }
}

.variants-food__text {
  position: relative;
  margin: 0;
  margin-bottom: 42px;

  @include tw() {
    margin-bottom: 52px;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  @include dw() {
    margin-top: 20px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 240px;
    background-color: rgba(217, 217, 217, 1);
    height: 1px;
    bottom: -23px;
    left: 0;

    @include tw() {
      display: none;
    }
  }
}
