.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include tw() {
    padding: 0 30px;
  }

  @include dw() {
    padding: 0 110px;
  }
}

.variants-food__wrapper,
.example__wrapper,
.advantages__wrapper,
.footer__wrapper,
.hero__wrapper,
.promotion__wrapper,
.add-product__wrapper,
.catalog__wrapper,
.catalog__title,
.data__section {
  max-width: 1440px;
  margin: 0 auto;
}
