$green: rgba(104, 183, 56, 0.85);
$black: #000000;
$white: #ffffff;
$grey: rgba(242, 242, 242, 1);
$greydark: rgba(234, 234, 234, 1);
$fontoswald: "Oswald", sans-serif;
$tw: 768px;
$dw: 1200px;

@mixin tw {
  @media (min-width: $tw) {
    @content;
  }
}

@mixin dw {
  @media (min-width: $dw) {
    @content;
  }
}
